export(.ls.objects)
export(assayvar)
export(avar)
export(cleandf)
export(cleanf)
export(cv)
export(fsignif)
export(invquad)
export(lsos)
export(lundcrit)
export(lundprob)
export(pBias)
export(pastewrap)
export(proc.time.to.data.frame)
export(sortframe)
